SECRET_KEY=troque_por_uma_chave_segura_de_32_chars
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=sweet_user
RABBITMQ_PASS=sweet_pass
RABBITMQ_QUEUE=orders_queue
DATABASE_URL=sqlite:////shared/dolcevita.db
API_PORT=8000
